/* Ensure body takes up the entire height of the screen */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Main container with flex to stretch the content */
  .container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Image container filling up 3/4th of the page */
  .image-container {
    flex: 3;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the image fully covers the container */
  }
  
  /* Register section occupies the 1/4th part */
  .register-container {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-right: 0px;
    box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1);
    border-left: 0px solid #ddd;
    border-right: 0px solid #ddd;
    height: 100%; /* Ensure it takes up the full height */
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Make form-group consistent in spacing */
  form .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #008193;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007d82;
  }
  
  .bold-small-text {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
  
  .success {
    color: #008193;
    text-align: center;
    margin-top: 10px;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  