
<div>
    <!-- Main Content -->
    <div class="container d-flex" style="height: 100vh;">
      <!-- Image Section -->
      <div class="image-container">
        <img src="/assets/pace.png" alt="PACE" />
      </div>
  
      <!-- Login Section -->
      <div class="register-container d-flex align-items-center justify-content-center">
        <div>
          <h2><b>UST</b> PACE</h2>
          <p class="bold-small-text">Delightful Platform Engineering: Empowering a 35 Million+ Strong Product Building Community 🚀</p>
          <div class="register-container">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div>
                <label for="userName">Username:</label>
                <input id="userName" formControlName="userName" type="text" />
              </div>
              <div>
                <label for="password">Password:</label>
                <input id="password" formControlName="password" type="password" />
              </div>
              <div>
                <label for="emailId">Email:</label>
                <input id="emailId" formControlName="emailId" type="email" />
              </div>
              <div>
                <label for="firstName">First Name:</label>
                <input id="firstName" formControlName="firstname" type="text" />
              </div>
              <div>
                <label for="lastName">Last Name:</label>
                <input id="lastName" formControlName="lastName" type="text" />
              </div>
              <button type="submit" [disabled]="registerForm.invalid">Register</button>
            </form>
          
            <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
            <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  

